body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #5cdb95;
}
.banner-column{
    background-color: #379683;
}
.banner-container .row .banner-column p{
    font-size:  30px;;
}
.navbar-container{
    background-color: #05386b;
 
}
.navbar-container ul li a{
       color: #379683;
}

.about-container{
    background-color: #edf5e1;
    color: #379683;
}
.about-img{
    border: 4px solid #fff;
}